language: julia

os:
  - linux
  - osx

julia:
    - 1.0
    - 1.2
    - 1.3
    - nightly

notifications:
    email: false

env:
  global:
    - DOCUMENTER_DEBUG=true

matrix:
  allow_failures:
    - julia: nightly
  include:
    - stage: "Documentation"
      julia: 1.1
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip

after_success:
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'

sudo: false
